#src_facade_facadeClassDiagram_ucd{
width: 4899;
height: 4570;
overflow: hidden;
background: url(src_facade_facadeClassDiagram_ucd.png) top left no-repeat;
}
#exception_AlreadyExistsException{
position: absolute;
float: left;
width: 259;
height: 65;
margin-left: 2697;
margin-top: 4110;
}
#view_InterfaceMovel{
position: absolute;
float: left;
width: 175;
height: 124;
margin-left: 3457;
margin-top: 345;
}
#facade_Controller{
position: absolute;
float: left;
width: 267;
height: 594;
margin-left: 2516;
margin-top: 2125;
}
#empresa_Empresa{
position: absolute;
float: left;
width: 270;
height: 797;
margin-left: 1480;
margin-top: 2902;
}
#eventos_EventoVeiculoDevolvido{
position: absolute;
float: left;
width: 251;
height: 47;
margin-left: 4270;
margin-top: 1094;
}
#facade_Facade{
position: absolute;
float: left;
width: 195;
height: 512;
margin-left: 327;
margin-top: 4048;
}
#interfaces_Listener{
position: absolute;
float: left;
width: 161;
height: 79;
margin-left: 2357;
margin-top: 50;
}
#eventos_EventoReservaDescartada{
position: absolute;
float: left;
width: 262;
height: 47;
margin-left: 4576;
margin-top: 3332;
}
#exception_RequiredFieldException{
position: absolute;
float: left;
width: 264;
height: 65;
margin-left: 574;
margin-top: 1739;
}
#exception_InvalidCharacterException{
position: absolute;
float: left;
width: 279;
height: 65;
margin-left: 2775;
margin-top: 3400;
}
#exception_InvalidParameterException{
position: absolute;
float: left;
width: 284;
height: 65;
margin-left: 50;
margin-top: 2300;
}
#eventos_EventoNovoVeiculo{
position: absolute;
float: left;
width: 220;
height: 47;
margin-left: 4669;
margin-top: 2147;
}
#exception_EmptyDatabaseException{
position: absolute;
float: left;
width: 272;
height: 65;
margin-left: 2114;
margin-top: 4459;
}
#view_InterfaceWeb{
position: absolute;
float: left;
width: 175;
height: 160;
margin-left: 1230;
margin-top: 265;
}
#view_InterfaceTexto{
position: absolute;
float: left;
width: 264;
height: 376;
margin-left: 1126;
margin-top: 3209;
}
#exception_NotFoundException{
position: absolute;
float: left;
width: 235;
height: 65;
margin-left: 1398;
margin-top: 4481;
}
