#src_Email_EmailClassDiagram_ucd{
width: 221;
height: 287;
overflow: hidden;
background: url(src_Email_EmailClassDiagram_ucd.png) top left no-repeat;
}
#Email_EmailGMAIL{
position: absolute;
float: left;
width: 161;
height: 227;
margin-left: 50;
margin-top: 50;
}
